.LoginSignUpContainer {
  width: 100vh;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0%;
  left: 0;
  height: 100vh;
  background-image:
  linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), /* Gradient from bottom to top */
  url('../../images/mask.png');/* Set the background image */
  background-size: cover; /* Ensure the image covers the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  margin-left: 350px;
  

 /* Prevent the image from repeating */


}


.LoginSignUpBox {
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
  width: 25vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  opacity: 0.8;
  
  /* Other styles... */
}

.login_signUp_toggle {
  display: flex;
  height: 3vmax;
}
.login_signUp_toggle > p {
  color: rgba(135, 135, 135, 0.678);
  font: 300 1vmax "Roboto";
  transition: all 0.5s;
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 100%;
}
.login_signUp_toggle > p:hover {
  color: rgb(255, 71, 166);
}
.forget {
  color: rgb(71, 200, 255);
}

.forget :hover{
  color: rgb(1, 86, 122);
}
.LoginSignUpBox > div > button {
  background-color: rgb(255, 71, 206);
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
}

.loginForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
  background: none;
}

.signUpForm {
  transform: translateY(-100%) translateX(-100vmax);
}

.loginForm > div,
.signUpForm > div {
  display: flex;
  width: 100%;
  background: white;
  align-items: center;
}
.loginForm > div > input,
.signUpForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
  border: 1px solid #ccc; /* Keep borders visible */
  background: black; 
  color: white;/* Solid background */
 /* Opaque text */
}

.loginForm > div > svg,
.signUpForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.loginForm > a {
  color: rgba(0, 0, 0, 0.651);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 500 0.8vmax "Gill Sans";
}

.loginForm > a:hover {
  color: black;
}

#registerImage > img {
  width: 3vmax;
  border-radius: 100%;
}
#registerImage > input {
  display: flex;
  padding: 0%;
  color: white;
  background-color: #000;
}

#registerImage > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax cursive;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(254, 246, 246, 0.95);
  background-color: rgb(0, 0, 0);
}


.loginBtn,
.signUpBtn {
  border: none;
  background-color: rgb(0, 200, 255);
  color: rgb(45, 45, 45);
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.loginBtn:hover,
.signUpBtn:hover {
  background-color: rgb(0, 93, 109);
}

.shiftToLeft {
  transform: translateX(-100%);
}
.shiftToNeutral {
  transform: translateX(0%);
}

.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  transform: translateX(100%);
}
 @media screen and (max-width: 600px) {
  .LoginSignUpContainer {

   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: relative;
  
    top: 0%;
    left: 0;
    
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), /* Gradient from bottom to top */
    url('../../images/mask.png');/* Set the background image */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    margin-left: 8px;
    
  }
  .LoginSignUpBox {
    width: 100vh;
    height: 100vh;
  }
  .login_signUp_toggle {
    height: 5vmax;
  }
  .login_signUp_toggle > p {
    font: 300 1.5vmax "Roboto";
  }

  .loginForm,
  .signUpForm {
    padding: 5vmax;
  }

  .loginForm > div > input,
  .signUpForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
    background: #000;
  
  }

  .loginForm > div > svg,
.signUpForm > div > svg {
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623); /* Ensure the color is not transparent */
  position: absolute;
  transform: translateX(1vmax);
}


.loginForm > a {
  color: rgba(0, 0, 0, 0.651); /* Solid text color */
}

  #registerImage > img {
    width: 8vmax;
    border-radius: 100%;
  }

  #registerImage > input::file-selector-button {
    height: 7vh;
    font: 400 1.8vmax cursive;
    background-color: #000;
  }

  .loginBtn,
  .signUpBtn {
    border: none;
    background-color:  rgb(0, 200, 255); /* Solid background */
    color: black; /* Opaque text color */
    padding: 0.8vmax;
  }
} */


.loginEmail{
  background-color: black;
}

.login_signUp_toggle > p {
  background: transparent; /* Keep text areas transparent */
  color: rgba(135, 135, 135, 0.678); /* Text color */
}

